@import url("_site-settings.scss");
/* ===========================
   Base
   =========================== */
/* reset */
*,
html,
body,
a,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: $lato;
}

// small screen
.texteModaleTitle {
  font-size: 1.5rem;
  font-weight: bolder;
}

div.textGame > p {
  font-size: 1rem;
  font-weight: bolder;
}

.textGame--btn {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
}

img {
  width: 3rem;
}

svg {
  width: 2rem;
}

.textFooter {
  font-size: 1rem;
}

// screen 768px
@media screen and (min-width: 768px) {
  .texteModaleTitle {
    font-size: 3rem;
    font-weight: bolder;
  }

  div.textGame > p {
    font-size: 2rem;
    font-weight: bolder;
  }

  .textGame--btn {
    font-size: 2rem;
  }

  p {
    font-size: 3rem;
    font-weight: bolder;
  }

  img {
    width: 7rem;
  }

  svg {
    width: 3rem;
  }

  #game--frame {
    border-color: $colorFrame;
    margin-top: 10%;
    margin-bottom: 10%;
    min-height: 80vh !important;
    min-width: 95vw !important;
  }

  .textFooter {
    font-size: 2rem;
  }
}

// screen 1700px
@media screen and (min-width: 1700px) {
  .texteModaleTitle {
    font-size: 3rem !important ;
    font-weight: bolder;
  }

  div.textGame > p {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .textGame--btn {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
  }

  img {
    width: 7rem;
  }

  svg {
    width: 3rem;
  }

  #game--frame {
    border-color: $colorFrame;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 90vh !important;
    min-width: 60vw !important;
  }

  .textFooter {
    font-size: 3rem;
  }
}

/* <--------------------------------------------------------> */

// font_family
