@import url("_base.scss");

// btn hidden
.is-btn-hidden {
  display: none;
}

// animation of the dice

// turn dice

.is-roll-dice-player-one {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(177deg) rotateY(202deg);
  animation: rollDiceplayerOne 2s;
}

.is-roll-dice-player-two {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(177deg) rotateY(202deg);
  animation: rollDiceplayertwo 2s;
}

@keyframes rollDiceplayerOne {
  0% {
    transform: rotateX(270deg);
    left: -400px;
    top: 200px;
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateX(358deg);
    left: 0px;
    top: 300px;
    transform: rotateZ(358deg);
    transform: rotateY(358deg);
  }
}

@keyframes rollDiceplayertwo {
  0% {
    transform: rotateX(270deg);
    right: -400px;
    top: 200px;
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateX(358deg);
    right: 0px;
    top: 300px;
    transform: rotateZ(358deg);
    transform: rotateY(358deg);
  }
}

// background player

.is-turn-player-off {
  background-color: rgb(5, 5, 75) !important;
}

.is-turn-player-active {
  background-color: rgb(109, 194, 243) !important;
}
