/*
 * SMACSS + SCSS starter v2.1
 * Inspired by SMACSS http://smacss.com
 * Author: @jonathanpath
 * Date: 4 August 2015
 *
 * https://github.com/jonathanpath/SASS-SMACSS
 * See file structure in http://jonathanpath.com/sass+smacss/scss/style.scss
 *
 * Coding rules : https://github.com/necolas/idiomatic-css
 *
 */
/* Site settings */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
/* Vendor */
/* Override */
/* Base */
@import url("_site-settings.scss");
/* ===========================
   Base
   =========================== */
/* reset */
@import url("_site-settings");
@import url("_base.scss");
*,
html,
body,
a,
p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "lato";
  font-size: clamp(1rem, 1vw, 0.5rem);
  color: #1c2274;
}

img {
  width: 2rem;
}

svg {
  width: 2rem;
}

/* <--------------------------------------------------------> */
/* Layouts */
/* ==|====================
   Layout/Constrained
   ======================= */
/* Modules */
/* ==|====================
   Module/Box
   ======================= */
/***** header *****/
/***** End header *****/
/***** main *****/
#game--frame {
  border: 1.5rem;
  border-style: groove;
  border-color: #1c2274;
  margin-top: 10%;
  margin-bottom: 10%;
  min-height: 90vh;
  max-height: 90vh;
  min-width: 95vw;
}

#game--frame #new__game {
  position: relative;
}

#game--frame #container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#game--frame .dice, #game--frame .is-roll-dice-player-one, #game--frame .is-roll-dice-player-two {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  max-height: 75px;
  -webkit-transform: rotateX(177deg) rotateY(202deg);
          transform: rotateX(177deg) rotateY(202deg);
  top: -67px;
}

#game--frame .face {
  width: 75px;
  height: 75px;
}

#game--frame #face__one {
  -webkit-transform-origin: center;
          transform-origin: center;
  background-image: url("../image/dice-six-faces-one.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#game--frame #face__two {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  background-image: url("../image/dice-six-faces-two.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#game--frame #face__five {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translate(0px, -150px) rotateX(-90deg);
          transform: translate(0px, -150px) rotateX(-90deg);
  background-image: url("../image/dice-six-faces-five.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#game--frame #face__three {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform: translate(0px, -225px) rotateY(90deg);
          transform: translate(0px, -225px) rotateY(90deg);
  background-image: url("../image/dice-six-faces-three.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#game--frame #face__four {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform: translate(0px, -300px) rotateY(-90deg);
          transform: translate(0px, -300px) rotateY(-90deg);
  background-image: url("../image/dice-six-faces-four.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#game--frame #face__six {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform: translate(0px, -375px) translateZ(-75px);
          transform: translate(0px, -375px) translateZ(-75px);
  background-image: url("../image/dice-six-faces-six.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#playerWinner {
  background-color: rgba(109, 194, 243, 0.781);
}

#playerWinner #playerWinner--header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #05054b;
  border-bottom: none;
}

#playerWinner #playerWinner--body {
  text-align: center;
  color: gold;
  -webkit-text-decoration: double;
          text-decoration: double;
  background-color: #05054b;
}

#playerWinner #playerWinner--footer {
  border-top: none;
  background-color: #05054b;
}

/***** End main *****/
/***** footer *****/
/***** End footer *****/
.is-btn-hidden {
  display: none;
}

.is-roll-dice-player-one {
  -webkit-animation: rollDiceplayerOne 1s;
          animation: rollDiceplayerOne 1s;
}

.is-roll-dice-player-two {
  -webkit-animation: rollDiceplayertwo 1s;
          animation: rollDiceplayertwo 1s;
}

@-webkit-keyframes rollDiceplayerOne {
  0% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
    left: -900px;
    top: 200px;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(358deg);
            transform: rotateX(358deg);
    left: 0px;
    top: -50px;
    -webkit-transform: rotateZ(358deg);
            transform: rotateZ(358deg);
    -webkit-transform: rotateY(358deg);
            transform: rotateY(358deg);
  }
}

@keyframes rollDiceplayerOne {
  0% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
    left: -900px;
    top: 200px;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(358deg);
            transform: rotateX(358deg);
    left: 0px;
    top: -50px;
    -webkit-transform: rotateZ(358deg);
            transform: rotateZ(358deg);
    -webkit-transform: rotateY(358deg);
            transform: rotateY(358deg);
  }
}

@-webkit-keyframes rollDiceplayertwo {
  0% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
    right: -900px;
    top: 150px;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(358deg);
            transform: rotateX(358deg);
    right: 0px;
    top: -50px;
    -webkit-transform: rotateZ(358deg);
            transform: rotateZ(358deg);
    -webkit-transform: rotateY(358deg);
            transform: rotateY(358deg);
  }
}

@keyframes rollDiceplayertwo {
  0% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
    right: -900px;
    top: 150px;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(358deg);
            transform: rotateX(358deg);
    right: 0px;
    top: -50px;
    -webkit-transform: rotateZ(358deg);
            transform: rotateZ(358deg);
    -webkit-transform: rotateY(358deg);
            transform: rotateY(358deg);
  }
}

.is-turn-player-off {
  background-color: #05054b;
  -webkit-transition: 2s;
  transition: 2s;
}

.is-turn-player-active {
  background-color: #6dc2f3;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */